# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
.nox/
nosetests.xml
coverage.xml
*,cover

# Jupyter
.ipynb_checkpoints/

# Virtualenv
venv/
env/

# Data
data/raw_data/*
!data/raw_data/.gitkeep

# Outputs
outputs/

# OS files
.DS_Store
